


/*
Card CSS
*/

body {
  background-color: lightgray;
}

.test {
  display: flex;
  flex-direction: row;
}


.card-container {
  max-width: 250px;
  padding: 20px;
  margin: 5px;
  background-color: white;
}

.card-top {
}

.card-bottom {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  width: 248px;
  max-width: 248px;
  max-height: 100px;
  height: 100px;
  background-color: whitesmoke;


}


/* Card Image CSS */

.image-favorites {
  display: absolute;
  width: 250px;
  top: 0px;
  left: 0px;

}

.rest-image {
  width: 250px;
  height: 150px;
  display: flex;
  z-index: -1;
}

.favorite {
  /* position: absolute; */
  top: 0px;
  right: 0px;
  z-index: 1;
}

.fa-bookmark-o {
  position: absolute;
  z-index: 1;
  size: 200%;
  top: 10%;
  right: 16%;
}

.fa-bookmark {
  position: absolute; 
  z-index: 1;
  size: 200%;

}

.hidden {
  display: flex;
  visibility: hidden;
  position: absolute;
}



/* Card Bottom CSS */

.card-bottom {
  display: flex;
}



.hover-box {
  background-color:green;
  padding: 50px;
  margin: 50px;
}